apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: 000000000000.dkr.ecr.eu-central-1.localhost.localstack.cloud:4566/ecofoodchain-main-backend:latest
        ports:
        - containerPort: 5000
